body{
    margin: 0px; 
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}
#container{
    background: rgb(37,45,55);
    background: linear-gradient(40deg, rgba(37,45,55,1) 60%, rgba(67,75,86) 85%);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 120px auto;
    padding: 20px;
    border-radius: 18px;
}
.star-icon{
    width: 15px;
    background-color: hsl(214, 11%, 24%);
    opacity: 1;
    border-radius: 50%;
    padding: 12px;
}
h1{
    font-weight: 400;
    color: white;
    font-size: 25px;
    margin-top: 25px;
}
p{
    font-weight: 400;
    font-size: 13px;
    color: hsl(216, 12%, 54%);
    margin-top: 0px;
}
.rating-btn{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn{
    border-radius: 50%;
    background-color: hsl(214, 11%, 24%);
    color: hsl(216, 12%, 54%);
    font-weight: bold;
    font-size: 12px;
    border: none;
    margin: 3px 7px;
    padding: 17px 20px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}
.btn:active{
    background-color: rgb(251, 116, 19) ;
    color: hsl(0, 0%, 100%);
}
#submit-btn{
    background-color: rgb(251, 116, 19);
    color: white;
    border-radius: 20px;
    border: none;
    width: 300px;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-top: 27px;
    cursor: pointer;
}
#submit-btn:hover{
    background-color: hsl(0, 0%, 100%);
    color: rgb(251, 116, 19);
}

.clicked{
    background-color: rgb(251, 116, 19);
    color: hsl(0, 0%, 100%);
    pointer-events: none;
}

 