body{
    margin: 0px; 
    background-color: hsl(216, 12%, 8%);
}
#container{
    background-color: hsl(213, 19%, 18%);
    border: 2px solid red;
    width: 470px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 100px auto;
    padding: 20px;
    border-radius: 18px;
}
.star-icon{
    width: 18px;
    background-color: hsl(216, 12%, 54%);
    opacity: 1;
    border-radius: 50%;
    padding: 10px;
}

 /*font-family: 'Overpass', sans-serif; */ 